.admin-grouplist {
  display: grid;
  grid-template-columns: 10% 55% 5% 30%;
  height: 3rem;
  width: 100%;
  font-size: 1.8em;
  border-bottom: solid .5px #8492A6;

}

.admin-grouplist > div > a {
  display: block;
  text-decoration: none;
  line-height: 3rem;
  width: 100%;
}

.border-bottom {
  border: none;
  border-bottom: solid .5px rgba(130, 104, 174, 0.7);
}

.error-text {
  color: red;
  font-size: 1.6em;
  text-align: center;
  height: 1rem;
}

.icon-stats {
  cursor: pointer;
  background: rgb(174, 104, 139);
  border-radius: 3px;
  height: 1.5rem;
  width: 2.5em;
  line-height: 1.5rem;
  color: white;
  font-size: .8em;
  padding: .3em 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5rem;
}

.logout-admin {
  margin-top: 2rem;
}

.manageuser-container {
  margin: 0 1rem;
}

.manageuser-container > div {
  width: 100%;
  padding-top: 3rem;
}

.modal {
  position: absolute;
  background-color: rgba(130, 104, 174, 0.9);;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal-button-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  z-index: 20;
}

.modal-button-wrapper > button {
  margin: 0 .5rem;
}

.modal-innerbox {
  position: relative;
  display: grid;
  grid-template-rows: 7rem 2.5rem auto;
  background-color: white;
  border-radius: 3px;
  margin: 4rem auto;
  height: 30%;
  width: 80%;
  z-index: 15;
}

.modal-innerbox > p {
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}

.modal-innerbox-large {
  position: relative;
  background-color: white;
  border-radius: 3px;
  margin: 4rem auto;
  height: 60%;
  width: 80%;
  z-index: 15;
}

.modal-form {
  position: relative;
  display: grid;
  height: 100%;
  grid-template-rows: auto 3rem auto;
  z-index: 20;
}

.modal-stats-text {
  font-size: 1.2rem;
  padding: 1.5rem;
}


.svg-arrowMenu {
  position: relative;
  top: .8em;
  right: 0;
}

.svg-deleteicon {
  position: relative;
  top: .8em;
  left: .5em;
  cursor: pointer;
}