.admin-grouplist {
  display: block;
  height: 3rem;
  width: 100%;
  font-size: 1.8em;
  border-bottom: solid .5px #8492A6;
}

.admin-grouplist > a {
  display: block;
  text-decoration: none;
  line-height: 3rem;
  padding-left: 1rem;
  width: 90%;
}

.logout-admin {
  position: fixed;
  bottom: 5rem;
}

.manageuser-container {
  margin: 0 1rem;
}

.manageuser-container > div {
  width: 100%;
}